{% load static %}

<html>
    <head>
        <title>
            {% block title %}
                Lera's Website
            {% endblock %}
        </title>

        <link rel="stylesheet" href="{% static 'css/sidenav.css' %}">
    </head>

    <body>
        <div class="sidenav">
            <a href="/home">Home</a>
            <a href="/create">Create</a>
            <a href="/2">View</a>
        </div>

        <div id="content", name="content", class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
